[Unit]
Description=Smokeping container (localhost:8888)
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a smokeping
ExecStop=/usr/bin/docker stop -t 2 smokeping

[Install]
WantedBy=default.target
